body{
    background-image:url(f.jpg);
}
.carousel{
/*    width: 928px;
    height: 600px;
    margin: auto;*/
}
.error{
    background-color: #D50909;
    color: #FFF;
    padding: 5px;
}

.let{
    color: #FFF;
}
.letra{
    color: #FFF;
    font-family: cursive;
}
.tit{
    color: #FFF;
    font-family: fantasy;
    font-size: xx-large;
}
.ref{
   background-color: #255625;
    color: #FFF;  
}
.logina{
    background-color: #31b0d5;
    font-family: cursive;
}